#ekzeget{background: #60382a; width:100%}
#ekzeget h1 {color:#fff; text-align: center;}
.nav_verh{border: 1px #C7C7C7; border-style: none solid solid solid; padding:5px 11px 7px 11px;}
.search_pano{position: relative; }
.rss a img {opacity: 0.4;}
.rss a img:hover{opacity: 0.95}
.search_pano input{padding-left: 5px; padding-right: 85px; border: 1px #bbb solid; width: 100%;text-align: left;height: 42px; font-size: 18px;margin-bottom: 3px}