#ekzeget{background: #60382a; width:100%;min-height: 54px;}
#ekzeget h1 {color:#fff; text-align: center;font-size:29px;margin-top:12px;}
.nav_verh{border: 1px #C7C7C7; border-style: none solid solid solid;border-radius: 7px;margin-top: -7px;padding: 12px 11px 7px 11px;}
.calendar_inside{ border: 1px solid #C7C7C7; border-radius:7px; padding: 10px;}
#chten_today{border-bottom:1px solid #ececec; text-align: center; font-weight: bolder; text-transform: uppercase; padding-bottom:5px;}
.icon-calendar{float:right; margin: -5px 0 0 10px; cursor: pointer;position: absolute;right:30px;}
.search_pano{position: relative; margin-top:25px; }
.rss{margin-top: 15px; text-align: right; }
.rss a img {opacity: 0.4;}
.rss a img:hover{ opacity: 0.95;}
hr.ekz{border-top: 1px solid #F9D063; margin-top:10px;}

#page{background-color: #F9F9F9}
#page_content3{max-height:140px; padding-top: 5px;}
#zavtr_chten{text-align: center; padding-top: 6px}
.scroll-pane1{overflow:scroll;overflow-x:hidden; }
.search_pano input{padding-left: 5px; padding-right: 85px; border: 1px #bbb solid; width: 100%;text-align: left;height: 42px; font-size: 18px;margin-bottom: 3px}
input {font-family: 'Roboto';}
.search-settings{padding-top: 10px; position: absolute; top: 2px;right: 45px; height: 40px; border: none; background: none;font-size: 16px;color: rgb(68,68,68);}
.search-settings img{height:19px;width:19px;display: block;}
.search_button{
        display: inline-block;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    padding: 7px 10px 0 10px;
    outline: none;
    border-radius: 2px;
    transition: all .218s ease 0s;
    cursor: pointer;
    padding-bottom: 5px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 40px;
    border: none;
    background: none;
}
.search_button img,  .search-settings img{opacity: 0.7}
.search_button img:hover, .search-settings img:hover{opacity: 1}
.general_menu{padding-top: 15px;margin-top:10px; text-align: right}
.general_menu a{font-size:1.28em;margin:0 18px;color: #555;}
.general_menu a:hover{text-decoration: none; color: #fff;background: #F9D063; border-color:#e6c05b;}
.sticky_block {background: #fff;}
.page-control{padding: 15px 25px;}
.epigraph{font-size: 13px;}
.footer_pano{background-color: #ddd;}


/* top dropdown menu and calendar reequest */
#toggler1:hover {cursor: pointer;}
.t2 {border: 1px solid #C7C7C7;width: 190px; right: 30px;top: 43px;padding: 15px 15px 10px 15px;position: absolute;background: #FFF;z-index: 20;box-shadow: 0 10px 25px rgba(0,0,0,.35); 
text-align: left;line-height:1.5}
.t2 a {font-family: Arial; font-size: 15px; color:#222}
.t2 a:hover {color:#f3d22e}
.t2::before, .t2::after {content: ''; position: absolute;left: 130px; top: -20px;border: 10px solid transparent;border-bottom: 10px solid #C7C7C7}
.t2::after {border-bottom: 10px solid white;top: -19px}
#answer {display:none; cursor: default;position: absolute; margin: 0px; right:45px; top: 25px; width: 200px;background-color:#fff;-moz-box-shadow:0 0 30px rgba(0,0,0,.5);-webkit-box-shadow:0 0 30px rgba(0,0,0,.5);box-shadow:0 0 30px rgba(0,0,0,.5);text-align: center; z-index: 11;padding: 15px 5px;font-size: 12px}

/* BIBLE MENU tabs*/
.menu_bible{font-size: 12px;}
ul.tabNavigation {list-style: none;margin: 0;padding: 0 0 0 30px}
ul.tabNavigation li {display: inline-block;padding: 0 0 0 5px;margin-bottom: 20px;}
ul.tabNavigation li a {padding: 10px 9px;background-color: #fff;color: #aaa;text-decoration: none; font-weight: normal;font-size: 22px; font-family: arial,sans-serif}
ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {padding: 5px 9px;background: #FFF;color: #222;cursor: default;border-bottom: 2px solid #f3d22e;}
ul.tabNavigation li a:hover {color: #888;}
ul.tabNavigation li a:focus {outline: 0}
div.tabs div {text-align: justify; margin: 5px; padding: 0}
.tabs h3 {margin-top: 0}

ul.tabNavigationmenu {text-align: center; list-style: none;margin-bottom: 10px;padding: 0}
ul.tabNavigationmenu li {text-align: center; display: inline-block;padding: 0 ;margin-bottom: 10px;}
ul.tabNavigationmenu li a {text-indent: 0; background-color: #fff;color: #aaa;text-decoration: none; font-weight: normal;font-size: 14px; font-family: arial,sans-serif}
ul.tabNavigationmenu li a.selected,
ul.tabNavigationmenu li a.selected:hover {background: #FFF;color: #222;cursor: default;border-bottom: 2px solid #f3d22e;}
ul.tabNavigationmenu li a:hover {color: #888;}
ul.tabNavigationmenu li a:focus {outline: 0}

/* BIBLE MENU books*/
.glossymenu { list-style-type: none; margin: 0; padding:0;} 
.glossymenu li{ position: relative; border-right: 1px solid #C7C7C7; border-left: 1px solid #C7C7C7; border-bottom: 1px solid #C7C7C7;background: #fff url(../IMG/arrow.gif) no-repeat center right} 
/*.glossymenu li:hover {border-bottom: 1px solid #f3d22e;}*/
.glossymenu li ul{list-style-type: none; position: absolute; margin: 0px; width: 340px;left: 177px; top: 7px; display: none; filter:alpha(opacity=100); -moz-opacity:1; z-index: 12; background: #fff;min-height: 50px;padding: 15px;-moz-box-shadow:0 0 15px rgba(0,0,0,.5);-webkit-box-shadow:0 0 15px rgba(0,0,0,.5);box-shadow:0 0 15px rgba(0,0,0,.5)} 
.glossymenu li:hover ul, #glossymenu li.jshover ul { display: block}
.glossymenu li ul li {width: 80px;float: left; border: none; background:none}
/*.glossymenu li ul li:hover {border: none;}*/
.glossymenu li a{ background: transparent url(../IMG/arrow.gif) no-repeat center right; font: bold 12px; color: #000; display: block; width: auto;padding: 5px 0; padding-left: 10px; text-decoration: none} 
.glossymenu li ul li a{ background: none;color: #000}
.glossymenu .arrowdiv{ position: absolute; right: 2px} 
.glossymenu li a:visited, .glossymenu li a:active{ background: #fff transparent url(../IMG/arrow.gif) no-repeat center right; color: #000; text-decoration: none} 
.glossymenu li ul li a:visited, .glossymenu li ul li a:active{ color: #000}
.glossymenu li a:hover{ background: #60382a;color: #fff; text-decoration: none} 
.glossymenu li ul li a:hover{ color: #F9D063;background: none}
.glossymenu > li:hover > a {background: #60382a;color: #fff; text-decoration: none}
* html .glossymenu li { float: left; height: 1%}
* html .glossymenu li a { height: 1%}

.general-icon{display: block;}
.general-icon img{display: block;}
.ekz-bold{font-weight: 900; font-size: 15px;}
.news-list{margin-bottom: 43px;}
.news-list h3{color:#333;margin-bottom: 12px;}
ul.news li{list-style: none; margin-bottom: 17px;}
ul.news li p{margin:0 0 7px 0;}
.news h4{color:#b7b7b7; margin-bottom:0;font-size: 16px;}
#myTab{border:none; padding: 12px 15px 0 15px; text-align: center}
#myTab > li{width:50%; }
#myTab > li > a{padding: 5px;}
#myTab > li > a:hover{padding: 5px;}
#myTab > li.active > a{color:#F9D063;}
#myTab > li.active > a:focus{border: 1px solid #ddd;background-color: #fff;border-bottom-color: transparent; }

.footer_pano{padding:30px 0 15px 0;}
img.logo-bottom{height: 60px; margin-right: 50px; opacity: 0.77;}
.footer-info{padding:25px 45px; text-align: center;}
.banners-bottom{padding: 25px 0; text-align: center}
.btn-donation{background-color: #F9D063; border: 1px solid #eac35c;color:#f7f7f7;box-shadow: 0 5px 13px rgba(0,0,0,0.35);}
.btn-donation:hover{ border: 1px solid #ffd565;box-shadow: 0 2px 13px rgba(0,0,0,0.35);}
.btn-shadow{box-shadow: 0 5px 13px rgba(0,0,0,0.35);}
.btn-shadow:hover{box-shadow: 0 2px 13px rgba(0,0,0,0.35);}
#toTop {display: block;display: none;z-index: 10002;opacity: .4;position: fixed;bottom: 20px; right: 20px}
#toTop:hover {opacity: 1;cursor: pointer}
.blood{color:#CA1D06; font-weight: 700;}
.pano-banners, .box1, .box2, .box3{background-color:#fff;}
.box {min-width:200px;width:200px;-moz-box-shadow:0 0 15px #868686;-webkit-box-shadow:0 0 15px #868686;box-shadow:0 0 15px #868686;margin-top: 10px; padding-top: 1px}
.box1{margin:15px 0 10px 0;padding: 5px 5px 20px 5px;}
.box2{padding: 10px 15px 25px 15px;}
.box3{padding: 10px 15px 25px 15px; margin-top:15px;}
.pano-banners{margin-bottom:35px;}
#bible_version{width:100%}
.bible-poem-text{padding: 0;}
#osn_text .bible-poem-text a{line-height: 1.3; font-size: 109%;font-family: Georgia}
.page-content h1{color: #CA0606;font-family: Georgia, "Times New Roman";text-align: center;font-weight: 900;font-size: 28px;margin: 9px 0;text-transform: capitalize;}
.next{margin: 4px 0;color:#999;text-align: center; text-decoration: none;text-transform: capitalize;display: block; vertical-align: middle;}
.next > span{font-family: Georgia, "Times New Roman";font-size: 28px;}
.next:hover{text-decoration: none;}
.next:hover span{color:#F9D063;}
.glav{margin-bottom: 10px;}
.ssil_uvelich{float:left}
.fulltext{display:inline;}
.ssil_uvelich_gl a{color:#F9D063;}
#icon a{padding:2px;}
#open1_box a, #open3_box a{cursor: pointer; margin-bottom:10px}